
body{
    font-family: "Courier New";
    color: white;
    margin-left: 50px;
    margin-right: 20px;
    background-color:rgb(39, 39, 39) ;
    
}
.triggeredByLevelUp{
    color: rgb(255,255,255)
}
.abstand{
    margin-top: 15px;
    margin-bottom: 15px;
}
button{
    
    padding: 10px 15px;
    background-color: rgb(17, 106, 195);
    font-size: large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border-style:groove;
    border-radius: 10px;
}
input{
    
    font-size:large;
}

.chessFieldIndexStyle {
    margin: 0px;
    padding: 0px;
    font-size: medium;
    text-align: center;
}

.backColor {
    background-color: rgb(39, 39, 39);
}