
body{
    font-family: "Courier New";
    color: black;
    margin-left: 50px;
    
}
.abstand{
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    
    padding: 15px 32px;
    background-color: black;
    font-size: large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border-style:hidden;
}
input{
    
    font-size:large;
}